@import '../../colors.scss';

:host {
  height: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.5em 2em;
  width: 100%;
}

.tabs {
  button {
    border: none;
    font-size: 1em;
    color: $primary-text;
    &.activeTab {
      background-color: $active-form-background;
    }
    &:focus {
      outline: none;
    }
  }
}
