<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="color">Color</label>
      <input type="text" class="form-control" name="color" required ngModel>
    </div>
    <div class="form-group">
      <label for="make">Make</label>
      <input type="text" class="form-control" name="make" required ngModel>
    </div>
    <div class="form-group">
      <label for="model">Model</label>
      <input type="text" class="form-control" name="model" required ngModel>
    </div>
    <div class="form-group">
      <label for="owner">Owner</label>
      <input type="text" class="form-control" name="owner" required ngModel>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-success">Create Car</button>
  </form>
</div>
