@import '../../../colors.scss';

:host {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  background: $active-form-background;
  color: $primary-text;
}
div {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 0.9em;
    .form-group {
      margin: 0.2em;
      display: flex;
      flex-direction: column;
      label {
        margin-right: 0.5em;
      }
      input {
        width: 200px;
        height: 1.8em;
      }
    }
    button {
      width: 204px;
      margin: 4px;
      height: 30px;
      font-size: 1em;
      border: none;
      background-color: $button-color;
      color: $button-text;
      &:disabled {
        background-color: $disabled-button;
        cursor: not-allowed;
      }
    }
  }
}

